
    <div class="cart-item">
      <div class="cart-img">
        <input type="checkbox" id="cart-item-active-{{cart_item.id}}" {% if cart_item.is_active %}checked{% endif %} name="cart-item-active">
          {% if cart_item.item.image %}
             <img src="{{cart_item.item.image.url}}" alt="">
          {% endif %}

      </div>
      <div class="item-hover">
      <h2>{{ cart_item.item.name }}</h2>
      <div class="del-item">
        <img src="static/img/X.svg" alt="">
      </div>
      <div class="item-count">
        <div class="number" style='margin-right: 24px;' data-step="1" data-min="1" data-max="100">
          <input class="number-text" type="text" name="count" value="{{cart_item.quantity}}">
          <div id='sub-{{cart_item.id}}' class="number-minus">−</div>
          <div id='add-{{cart_item.id}}' class="number-plus">+</div>
        </div>
        <div class="summ">
          {{ cart_item.item.sale_price }} ₽ \ шт.
        </div>
      </div>
    </div>
    </div>
