{% extends 'default.html' %}

{% block content %}

{#sdfdsf#}


      <div class="cart-content">
      <nav>
      <div class="breadcrumbs">
        <a href="/">Главная »</a>
        <a href="/cart/">Корзина</a>
      </div>
    </nav>
        <h1 style="margin: 0px 0px 20px 0px">{{ title }}</h1>
        <form action="">

        <div class="cart-items">

            <div class="cart-list">
              <div class="cart-hover">
                <input type="checkbox" id="select-all"><label for="">Выбрать все</label>
              </div>
                {% for cart_item in cart.cartitem_set.all %}
                    {% include 'cart/cart_item.html' %}
                {% endfor %}
          
          </div>
            <div class="cart-info">
              <div class="promo">
                <input type="text" placeholder="Промокод">
                <button>ПРИМЕНИТЬ</button>
              </div>
              <div class="bonus-pay">
                <div class="bonus">
                  <input type="checkbox">
                  <label for="">Оплатить бонусами</label>
                </div>
                <p>Доступно {{balance}} бонусов</p>
              </div>
              <div class="comment">
                <input type="text" placeholder="Оставьте комментарий к заказу">
              </div>
              <div class="cart-price">
                <div class="count">
                  <span id="total-quantity">{{ cart.total_quantity }}</span>
                    <span> шт.  на сумму</span>
                    <div>
                      <span id="total-price-without-discount">{{ cart.items_price_without_discount }}</span><span> ₽</span>
                    </div>
                </div>
                <div class="sail">
                  <div>Скидка</div> 
                  <div>
                      <span id="total-discount">{{ cart.total_discount }}</span>
                      <span> ₽</span>
                    </div>
                </div>
                <div class="summa">
                  <div>Итого</div> 
                  <div>
                    <span id="total-price">{{ cart.total_price }}</span>
                    <span> ₽</span>
                  </div>
                </div>
              </div>
              <button type='button' onclick='go_to_order_page()'>ОФОРМИТЬ ЗАКАЗ</button>
            </div>
          </div>
      </form>


      <script>

        function go_to_order_page(){
          window.location = '{% url "order_page" %}'
        }

document.addEventListener("DOMContentLoaded", function () {
    const cartItems = document.querySelectorAll(".item");

    cartItems.forEach((item) => {
        const quantityInput = item.querySelector(".number-text");
        const quantityMinus = item.querySelector(".number-minus");
        const quantityPlus = item.querySelector(".number-plus");
        // const itemID = item.getAttribute("data-item-id");

        quantityMinus.addEventListener("click", function (event) {
            event.preventDefault();
            let quantity = parseInt(quantityInput.getAttribute("data-quantity"));
            if (quantity > 1) {
                quantity--;
                updateCartQuantity(itemID, quantity);
            }
        });

        quantityPlus.addEventListener("click", function (event) {
            event.preventDefault();
            let quantity = parseInt(quantityInput.getAttribute("data-quantity"));
            quantity++;
            updateCartQuantity(itemID, quantity);
        });
    });

    function updateCartQuantity(itemID, newQuantity) {
        fetch(`/update_quantity/${itemID}/${newQuantity}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                // Обновите статистику корзины в реальном времени
                const totalItemsElement = document.querySelector("#total-items");
                const totalPriceElement = document.querySelector("#total-price");
                const totalDiscountElement = document.querySelector("#total-discount");
                const totalWithoutDiscountElement = document.querySelector("#total-without-discount");

                totalItemsElement.textContent = data.total_items;
                totalPriceElement.textContent = data.total_price;
                totalDiscountElement.textContent = data.total_discount;
                totalWithoutDiscountElement.textContent = data.total_without_discount;
            });
    }
});




      
      </script>
      </div>
    </div>



      <style>

  </style>


{% endblock %}