{% extends 'default.html' %}

{% load static extra_tags %}

{% block content %}

      <div class="cart-content">
      <nav>
      <div class="breadcrumbs">
        <a href="/">Главная »</a>
        <a href="/order/">Оформление заказа</a>
      </div>
    </nav>
        <h1 style="margin: 0px 0px 20px 0px">{{ title }}</h1>


        <form action="{% url 'save_order_data' %}" class="order-form" method='POST' style="display: flex;box-shadow: 0 8px 24px 0 rgb(8 9 112 / 9%);border-radius: 20px;padding:0px 0px 60px 0px;">
            {% csrf_token %}
            <div class="cart-items" style="min-height: 700px;box-shadow: none;width:100%;">
            <div class="order-list">
             <div class="cart-list">
              
             <!------
             ТРАСПОРТНЫЕ КОМПАНИИ
             ----->
                <h2 class="transport-company-h2">Способ доставки</h2>
                 <div class="transport-company">
                    {% for transport_company in transport_companies %}
                        <div class="form-radio-btn">
                          <input id="radio-transport-{{ transport_company.id }}" type="radio" name="radio-transport" value="{{ transport_company.id }}" checked>
                          <label for="radio-transport-{{ transport_company.id }}">{{transport_company.name}}</label>
                      </div>
                    {% endfor %}

                   </div>


                   <!-------
                   АДРЕСА
                   -------->

                   <div class="adress-nav">
                          <div class="adress-title">Адрес доставки</div>
                          {%if request.user.is_authenticated%}
                          <div class="new-adress" id="openModalButton" style="padding: 9px 0px 9px 20px;color: #00b44e;background: inherit;" data-toggle="modal" data-target="#addAddressModal">Добавить адрес</div>
                          {%endif%}
                   </div>
                        {% if addresses %}

                        {% for address in addresses %}
                            <div class="adress">
                            
                              <div class="form-radio-address-btn">
                                <div>
                                  <input id="radio-address-{{ address.id }}" type="radio" name="radio-address" value="{{ address.id }}" checked>
                                  <label for="radio-address-{{ address.id }}">{{ address.street }} {{ address.home_number }}, {{ address.room_number }}</label>
                                </div>
                                <div class="drop-down-address-actions">

                                   
                                  <label class="dropdown">

                                    <div class="dd-button">
                                          <img src="{% static 'img/address.svg' %}" alt="">
                                    </div>

                                    <input type="checkbox" class="dd-input" id="test">

                                    <ul class="dd-menu">
                                      <li><a href="{% url 'edit_myaddress' address.id %}">Изменить</a></li>
                                      <li><a href="{% url 'delete_address' address.id %}">Удалить</a></li>
                                    </ul>

                                  </label>
                              </div>
                              </div>

                                
                            </div>
          
                        {% endfor %}

                        {% else %}
                            
                            <div class="user-input not-login-address-user">
                              <p>Адрес</p>
                                <input type="text" name="address" maxlength="100" id="id_address">
                            </div>
                        {% endif %}

                <!-----
                КОММЕНТАРИЙ
                ----->

                  <div class="comment">
                      <p style="margin: 0px 0px 20px 0px;">Комментарий курьеру </p>
                    <input type="text" style="border: 1px solid #999999;" name='comment' placeholder="Оставьте комментарий к заказу">
                  </div>


             <!--------
             ПОКУПАТЕЛЬ
             -------->

            <h2>Покупатель</h2>
             <div class="order-user">
             <div class="user-input">
              <p>Фамилия</p>
                <input type="text" name="first_name" maxlength="100" id="id_first_name">
            </div>
                    <div class="user-input">
              <p>Имя</p>
                <input type="text" name="last_name" maxlength="100" id="id_last_name">
            </div>
                    <div class="user-input">
              <p>Отчество</p>
          <input type="text" name="patronymic" maxlength="100" id="id_patronymic">
            </div>
            <div class="user-input">
              <p>E-mail</p>
              <input type="email" name="email" value="root@root.root" maxlength="254" id="id_email">
            </div>
            <div class="user-input">
              <p>Телефон</p>
            <input type="text" name="phone" maxlength="24" id="id_phone">
            </div>
             </div>



                <button type="submit" class="order-button mt-5">ОФОРМИТЬ ЗАКАЗ</button>
        </div>

            
</div>
          </div>



            <div class="cart-info">
                <h2>Ваш заказ</h2>
                
              <div class="cart-price">
                <div class="count">
                    Товары( {{ order.total_quantity }} ) <span>{{order.items_price_without_discount|floatformat}} ₽</span>
                </div>
                <div class="sale d-flex justify-content-between">
                  Скидка на товары<span>{{ order.items_discount|floatformat }} ₽</span>
                </div>
                <div class="bonus-total d-flex justify-content-between">
                  Скидка за промокод <span>{{order.promocode_discount}} ₽</span>
              </div>
                {% if request.user.is_authenticated %}
                  <div class="bonus-total d-flex justify-content-between">
                      Скидка за бонусы <span>{{order.max_bonus_points_to_use}} ₽</span>
                  </div>
                {% endif %}
                <div class="summa">
                  Итого <span>{{ order|get_items_price_with_bonuses:request }} ₽</span>
                </div>
              </div>
            </div>
      </form>

      <script>
document.addEventListener("DOMContentLoaded", function () {
    const cartItems = document.querySelectorAll(".item");

    cartItems.forEach((item) => {
        const quantityInput = item.querySelector(".number-text");
        const quantityMinus = item.querySelector(".number-minus");
        const quantityPlus = item.querySelector(".number-plus");
        const itemID = item.getAttribute("data-item-id");

        quantityMinus.addEventListener("click", function (event) {
            event.preventDefault();
            let quantity = parseInt(quantityInput.getAttribute("data-quantity"));
            if (quantity > 1) {
                quantity--;
                updateCartQuantity(itemID, quantity);
            }
        });

        quantityPlus.addEventListener("click", function (event) {
            event.preventDefault();
            let quantity = parseInt(quantityInput.getAttribute("data-quantity"));
            quantity++;
            updateCartQuantity(itemID, quantity);
        });
    });

    function updateCartQuantity(itemID, newQuantity) {
        fetch(`/update_quantity/${itemID}/${newQuantity}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                // Обновите статистику корзины в реальном времени
                const totalItemsElement = document.querySelector("#total-items");
                const totalPriceElement = document.querySelector("#total-price");
                const totalDiscountElement = document.querySelector("#total-discount");
                const totalWithoutDiscountElement = document.querySelector("#total-without-discount");

                totalItemsElement.textContent = data.total_items;
                totalPriceElement.textContent = data.total_price;
                totalDiscountElement.textContent = data.total_discount;
                totalWithoutDiscountElement.textContent = data.total_without_discount;
            });
    }
});




        // Находим элементы формы
      var selectAllCheckbox = document.getElementById('select-all');
      var checkboxes = document.querySelectorAll('input[type=checkbox]');

      // Привязываем обработчик события "click" к флажку "выбрать все"
      selectAllCheckbox.addEventListener('click', function(event) {
      // Обходим все элементы формы с флажком checkbox
      for(var i = 0; i < checkboxes.length; i++) {
      // Устанавливаем свойство "checked" для всех элементов формы с флажком
      checkboxes[i].checked = selectAllCheckbox.checked;
      }
      });
      </script>
      </div>
    </div>



      <style type="text/css">
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {

}

.dd-button:after {

}

.dd-button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
    z-index: 9;
    right: 0%;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
          .user-input input{
              border: 2px solid #00B44E;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
          }
    .number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 140px;
	display: inline-block;
  border: none;
  border-radius: 20px;
  margin: 0px 20px 0px 0px;
        background: #edf0f2;
}
.number-minus, .number-plus {
	position: absolute;
	top: 0;
	width: 40px;
	height: 32px;
	line-height: 32px;
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
  color: #CCCCCC;
	text-decoration: none;
}
.number-minus {
	left: 0;
}
.number-plus {
	right: 0;
}

.number-text{
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 32px;
	padding: 0;
	margin: 0 0 0 42px;
	background: inherit;
	outline: none;
	border: none;
	width: 57px;
	text-align: center;
}
  </style>


{% endblock %}