{% extends 'default.html' %}

{% load extra_tags %}

{% block content %}
<div style="background-color:white; max-width:600px; border-radius:10px; margin:0 auto; height: 500px">
    {% if validlink %}

        <h2 style="padding:50px; margin:auto; text-align:center">Введите новый пароль.</h2>

        <form method="post" id="password-reset-form" class="user-form">
            {% csrf_token %}
            <div style="display:flex; flex-direction: column; gap:25px; align-items: center;">
   
                <input hidden autocomplete="username" value="{{ form.user.get_username }}">

                <div class="col-md-8" id="new-password1">
                    {{ form.new_password1.errors }}
                    <label>{{form.new_password1.label}}</label>
                    {{form.new_password1}}
                    <span style="font-size:0.8rem">Минимум 8 символов</span>
                </div>
                <div class="col-md-8" id="new-password2">
                    <label>{{form.new_password2.label}}</label>
                    {{form.new_password2}}
                </div>
                <div class='mt-3' style="display:flex; flex-direction:column; width:100%; align-items: center;" id="submit-warnings">
                    <button onclick='validate_and_submit(event)' type='submit' class='btn btn-primary col-md-8'>Сохранить пароль</button>
                </div>
            </div>
            
            </form>

    {% else %}

        <p style="padding:50px; margin:auto; text-align:center">
            Ваша ссылка некорректна. Возможно она уже была использована. Попробуйте запросить <a href='{% url "password_reset" %}'>новую</a>.
        </p>

    {% endif %}
</div>


<script>
    function validate_and_submit(event){
        event.preventDefault()
        if (document.querySelector('#warning')){
            document.querySelector('#warning').remove()
        }
        const warning = document.createElement('span')
        warning.id = 'warning'
        warning.style = 'color:red'
        const submit_warnings = document.querySelector('#submit-warnings')
        if (document.querySelector('#id_new_password1').value.length < 8){
            warning.innerHTML = "Minimum 8 characters"
            submit_warnings.prepend(warning)

        }else if (document.querySelector('#id_new_password1').value != document.querySelector('#id_new_password2').value){
            warning.innerHTML = "Passwords don't match"
            
            submit_warnings.prepend(warning)
        }else{
            document.getElementById("password-reset-form").submit()
        }
    }
</script>

{% endblock %}


