{% extends 'default.html' %}{% load static %}
{% block content %}
<div class="content about">
    <nav>
      <div class="breadcrumbs">
        <a href="">Главная »</a>
        <a href="">О компании</a>
      </div>
    </nav>
    <h1>О компании</h1>
    <p style="max-width:90%;">
      <span>Волна здоровья</span> - российская инновационная фармацевтическая компания, использующая современные технологии для создания уникальных продуктов.
    </p>
    <div class="creation-history">
      <h2>История создания</h2>
      <p>Идея поддержки отечественных разработок в период абсолютного засилья импортной продукции оказалась поистине революционной. Всего лишь за 5 лет ассортимент Компании вырос в несколько раз: от трех скромных продуктов до сотен самых разнообразных наименований, многие из которых заняли лидирующие позиции на рынке России.Высокий спрос на продукцию Корпорации «Сибирское здоровье» очень скоро поставил вопрос о создании собственного производства, поскольку производственные мощности научных партнеров Компании уже не справлялись с постоянно растущим товарооборотом. И в 1999 году был запущен первый производственный комплекс Корпорации «Сибирское здоровье».</p>
    </div>
    <div class="dev">
      <div class="dev-info">
      <h2>Наше производство</h2>
      <p>С 2018 года наша компания выпускает продукцию на современном заводе в Московской области — GLOBAL HEALTH CARE.
        GLOBAL HEALTH CARE — предприятие полного цикла выпуска пищевой продукции, а также биологически активных добавок, основано в 2017 году.
        Деятельность компании GLOBAL HEALTH CARE полностью соответствует международному стандарту ХАССП-ISO 22000:2005.
        Производство оснащено новейшим оборудованием высокой производительности, которое также соответствует всем необходимым стандартам и регулярно проходит тщательный контроль и оценку внешних экспертов.
        Выпуск безопасной продукции является обязательным условием работы компании, контролируемым Федеральными законами, Техническими регламентами, ГОСТами, гарантирующим высокое качество производимого товара и соответствие всем необходимым требованиям.
        </p>
      </div>
      <img src="{% static 'img/dev.png' %}" alt="">
    </div>
  </div>
{% endblock %}