{% extends 'default.html' %}
{% block content %}
<div class="content" style="display:flex;">
            <div class="contacts-info">

          <div class=""></div>
          <div class="contacts-items">
            <span>Адрес</span>
            <p>Санкт-Петербург, Садовая 658</p>
          </div>
          <div class="contacts-items">
            <span>E-mail</span>
            <p class="active">@volna_zdorovia</p>
          </div>
          <div class="contacts-items">
            <span>График работы</span>
            <p>Пон - Пт: с 11:00  до 20:00</p>
          </div>

          <div class="contacts-items">
            <span>Телефон</span>
            <p class="active">8 (800) 555 35 35</p>
            <p class="active">8 (800) 987 23 12</p>
          </div>


          <div class="rekvizits">
            <h2>Реквизиты</h2>
          </div>
          <div class="contacts-items">
            <span>Наименование кампании</span>
            <p>ООО “Волна здоровья”</p>
          </div>
          <div class="contacts-items">
            <span>Расчетный счет</span>
            <p>66474787827889909309093</p>
          </div>
          <div class="contacts-items">
            <span>ИНН</span>
            <p>579030940303</p>
          </div>
          <div class="contacts-items">
            <span>ОГРН</span>
            <p>77457387466263</p>
          </div>
          <div class="contacts-items">
            <span>Юридический адрес</span>
            <p>Санкт-Петербург, Садовая 658</p>
          </div>
        </div>
        <div class="maps-layer">
          <!-- <img src="static/img/image 95.png" alt=""> -->
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A98c43ec03b0163a28910b592516e7f1ae2cdaea885791cf1a5d489d47ae5adae&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>
{% endblock %}