{% extends 'default.html' %}
{% block content %}
<div class="content" style="display:flex;">
            <div class="contacts-info">

          <div class=""></div>
          <div class="contacts-items">
            <span>Адрес</span>
            <p>Санкт-Петербург, ул. Гаванская, д 34, литера А, помещ. 1Н, офис Д </p>
          </div>
          <div class="contacts-items">
            <span>E-mail</span>
            <p class="active">info@vitanow.ru</p>
          </div>
          <div class="contacts-items">
            <span>График работы</span>
            <p>Пон - Пт: с 11:00  до 20:00</p>
          </div>

          <div class="contacts-items">
            <span>Телефон</span>
            <p class="active">+7(995)600-65-42</p>
            <!-- <p class="active">8 (800) 987 23 12</p> -->
          </div>


          <div class="rekvizits">
            <h2>Реквизиты</h2>
          </div>
          <div class="contacts-items">
            <span>Наименование кампании</span>
            <p>ООО "ВИТАНАУ"</p>
          </div>
          <div class="contacts-items">
            <span>Расчетный счет</span>
            <p>40702 810 7 9055 0004947</p>
          </div>
          <div class="contacts-items">
            <span>Корреспондентский счет</span>
            <p>30101 810 9 0000 00007907</p>
          </div>
          <div class="contacts-items">
            <span>ИНН</span>
            <p>7801728764</p>
          </div>
          <div class="contacts-items">
            <span>КПП</span>
            <p>780101001</p>
          </div>
          <div class="contacts-items">
            <span>ОГРН</span>
            <p>1237800135132 </p>
          </div>
          <div class="contacts-items">
            <span>БИК банка</span>
            <p>044030790</p>
          </div>
          <div class="contacts-items">
            <span>Банк</span>
            <p>ПАО "БАНК "САНКТ-ПЕТЕРБУРГ"</p>
          </div>
          <div class="contacts-items">
            <span>Юридический адрес</span>
            <p>Санкт-Петербург, ул. Гаванская, д 34, литера А, помещ. 1Н, офис Д </p>
          </div>
        </div>
        <div class="maps-layer">
          <!-- <img src="static/img/image 95.png" alt=""> -->
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A98c43ec03b0163a28910b592516e7f1ae2cdaea885791cf1a5d489d47ae5adae&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>
{% endblock %}