{% extends 'default.html' %}
{% block content %}{% load static %}
<div class="container" style="height: 535px;width:90%;margin: 0 auto;border-radius: 50px;overflow:hidden;max-width: 1790px;">
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        {% for slider in slider1 %}
        
                <!-- slide-number-1 -->
                <div class="swiper-slide">
                  <div class="image-box">
                    {%if slider.slug %}
                    <a href="{{slider.slug}}"></a><img src="{{slider.image.url}}" alt="restaurant" />
                    {%else%}
                    <a href="#"></a><img src="{{slider.image.url}}" alt="restaurant" />
                    {%endif%}
                    <div class="centered-text">
                      {% comment %} <div class="text-wrapper">
                        {{slider.title}}
                        <p>{{slider.text}}</p>
                      </div>
                      <div class="button-wrapper">
                        <a href=""><button>ПЕРЕЙТИ В КАТАЛОГ</button></a>
                      </div> {% endcomment %}
                    </div>
                  </div>
                </div>
        {% endfor %}
      </div>

      <!-- rectangle-under-pagination -->
      <svg class="rectangle" width="154" height="33" viewBox="0 0 154 33" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.1492 12.9957C15.3255 5.56588 21.9046 0 29.6466 0H125.118C132.571 0 138.998 5.16164 141.261 12.2634C144.25 21.6506 148.867 33 153.711 33C161.97 33 -9.49755 33 0.41389 33C6.07606 33 10.4444 22.2302 13.1492 12.9957Z"
          fill="white" />
      </svg>

      <!-- arrow-buttons -->
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      
      <!-- dot-pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="carousel-wrap">
    <span class="item-title">Товары со скидками</span>
    <div class="owl-carousel">
        {% for item in items_sales %}
          {% include 'index/_catalog_item.html' %}
        {% endfor %}
    </div>
  </div>

  <div class="carousel-wrap categoties-item">
    <span class="item-title">Категории товаров</span>
    <div class="owl-carousel">

    {% for category in categories %}
    
    <div class="item">
      <div class="item-content">
        <div class="item-img categoties-item">
          <a href="item.html"></a>
          <a href="{% url 'filter_catalog_view' %}?category={{category.id}}"><img src="{%if category.image.url != '' %}{{category.image.url}}{%endif%}" class="image-item" alt=""></a>
          <p>{{category.title}}</p>
        </div>
      </div>
    </div>
    
    {% endfor %}

    </div>
  </div>

  <div class="container" style="height: 475px;width:90%;margin: 0 auto;border-radius: 150px;overflow:hidden;max-width: 1790px;">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
      
      {% for slider in slider2 %}
      
              <!-- slide-number-1 -->
              <div class="swiper-slide">
                <div class="image-box">
                  <img src="{{slider.image.url}}" alt="restaurant" />
                  <div class="centered-text">
                    {% comment %} <div class="text-wrapper">
                      {{slider.title}}
                      <p>{{slider.text}}</p>
                    </div>
                    <div class="button-wrapper">
                      <a href=""><button>ПЕРЕЙТИ В КАТАЛОГ</button></a>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>

      {% endfor %}
      </div>
      <!-- rectangle-under-pagination -->
      <svg class="rectangle" width="154" height="33" viewBox="0 0 154 33" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.1492 12.9957C15.3255 5.56588 21.9046 0 29.6466 0H125.118C132.571 0 138.998 5.16164 141.261 12.2634C144.25 21.6506 148.867 33 153.711 33C161.97 33 -9.49755 33 0.41389 33C6.07606 33 10.4444 22.2302 13.1492 12.9957Z"
          fill="white" />
      </svg>
      <!-- arrow-buttons -->
      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <!-- dot-pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="carousel-wrap">
    <span class="item-title">Популярные товары</span>
    <div class="owl-carousel">
    {% for item in popular_items %}
      {% include 'index/_catalog_item.html' %}
    {% endfor %}
    </div>
  </div>






  <div class="carousel-wrap">
    <span class="item-title">Бренды</span>
    <div class="owl-carousel">
      {%for brend in brends%}
      <div class="item">
        <div class="item-content">
          <div class="item-img categoties-item">
            <a href="item.html"></a>
            <a href="{% url 'filter_catalog_view' %}?brend={{brend.id}}"><img src="{%if brend.image.url != '' %}{{brend.image.url}}{%endif%}" class="image-item" alt=""></a>
            <p>{{brend.name}}</p>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>



{% endblock %}