{% extends 'default.html' %}

{% load static extra_tags %}


{% block content %}


<div class="content item">
    <nav>
      <div class="breadcrumbs">
        <a href="{% url 'index' %}">Главная »</a>
        <a href="{% url 'index' %}">Магазин »</a>
        <a href="{% url 'index' %}">Для здоровья</a>
        <a href="{% url 'item' item.id %}">» {{item.name}}</a>
      </div>
    </nav>
    <h1>{{item.name}}</h1>

    <div class="item-content-layout">
      <div class="item-img-page-content">
          {% if item.image %}
            <img src="{{item.image.url}}" alt="">
          {% endif %}

      </div>
      
        <div class="item-actions">
          <span class="large-price"></span> Много
          <div class="clearboth"></div>
          <div class="action-price">
         <span class="sale-price">{{item.discount}}%</span> <span class="new-price">{{item.sale_price}}₽</span> <span class="old-price">{{item.price}}₽</span>
          </div>
          <div class="clearboth"></div>
          <p>Будет начислино <span>25</span> бонусов</p>
{#          <a href="#"> ДОБАВИТЬ В КОРЗИНУ</a>#}
            <button 
              onclick="toggleCart({{ item.id }})" 
              class="button-add-to-cart {% if item.id in cart_items%}item-added-to-cart{% endif %}" 
              id="button-add-to-cart-{{ item.id }}"
              data-like-item-id="{{item.id}}"
              >


                {% if item.id in cart_items %}
                    В корзине
                	{% else %}
                    Добавить в корзину
                {% endif %}




            </button>
            <button onclick="toggle_favorite({{ item.id }})" class="add-favorite-item" id="add-favorite-item">
                {% if item|get_favorite_status:request %}
                    В избранном
                	{% else %}
                     Добавить в избранное
                {% endif %}



            </button>
      </div>
    </div>



    <!-- <div class="container"></div> -->
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Описание</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.text|safe}}</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Состав</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.compound|safe}}</p>
          </div>
        </div>
{#        <div class="accordion-item">#}
{#          <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Отзывы</span><span class="icon" aria-hidden="true"></span></button>#}
{#          <div class="accordion-content">#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>#}
{#          </div>#}
{#        </div>#}
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Информация о доставке</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.delivery|safe}}</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Сертификат</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p class="mobile-cirtificate">
            {% for certificate in certificates %}
                <img src="{{certificate.photo.url}}" alt="">
            {% endfor %}
            </p>
          </div>
        </div>
      </div>
    



    <div class="tabs">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
      <label for="tab-btn-1">Описание</label>
      <input type="radio" name="tab-btn" id="tab-btn-2" value="">
      <label for="tab-btn-2">Состав</label>
{#      <input type="radio" name="tab-btn" id="tab-btn-3" value="">#}
{#      <label for="tab-btn-3">Отзывы</label>#}
      <input type="radio" name="tab-btn" id="tab-btn-4" value="">
      <label for="tab-btn-4">Информация о доставке</label>
      <input type="radio" name="tab-btn" id="tab-btn-5" value="">
      <label for="tab-btn-5">Сертификат</label>
      <div id="content-1">
            {{item.text|safe}}
      </div>
      <div id="content-2">
            {{item.compound|safe}}
      </div>
{#      <div id="content-3">#}
{#        Содержимое 3...#}
{#      </div>#}
      <div id="content-4">
        {{item.delivery|safe}}
      </div>
      <div id="content-5" class="pc-certificate">
       {% for certificate in certificates %}
       <img class="zoom-img" id="zoom-img" src="{{certificate.photo.url}}" alt="">
       {% endfor %}
      </div>
    </div>

    <div class="carousel-wrap" style="width:100%;margin: 0px 0px 90px 0px!IMPORTANT;">
      <span class="item-title">Альтернативные предложения</span>
      <div class="owl-carousel"style="width: 100%;">
        
        {% for item in items %}

          {% include 'index/_catalog_item.html' %}

        {% endfor %}

      </div>
    </div>
  </div>

  <style>
    .zoomIMG{
      max-height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      weight: 90%;
      max-width: 965px;
      z-index: 9999999;
    }
    .carousel-wrap{margin: 0% 0% 0% 0%!IMPORTANT;padding:0% 0% 0% 0%!IMPORTANT;}
    .tabs {
      font-size: 0;
      margin: 0px 0px 40px 0px;
    }
  
    .tabs>input[type="radio"] {
      display: none;
    }
  
    .tabs>div {
      /* скрыть контент по умолчанию */
      display: none;
      border: 1px solid #e0e0e0;
      padding: 10px 15px;
      font-size: 16px;
    }
  
    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4,
    #tab-btn-5:checked~#content-5 {
      display: block;
    }
  
    .tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: #f5f5f5;
      border: 1px solid #e0e0e0;
      padding: 9px 20px;
      font-size: 16px;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      cursor: pointer;
      position: relative;
      top: 1px;
    }
  
    .tabs>label:not(:first-of-type) {
      border-left: none;
    }
  
    .tabs>input[type="radio"]:checked+label {
      background-color: #fff;
      border-bottom: 1px solid #fff;
    }
    .accordion{margin: 0px 0px 40px 0px;}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #00b44e;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #00b44e;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #00b44e;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
  </style>
  <script>
    const items = document.querySelectorAll(".accordion button");

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}
items.forEach(item => item.addEventListener('click', toggleAccordion));
  </script>
  {% endblock %}