{% extends 'default.html' %}

{% load static extra_tags %}


{% block content %}
<div class="review-layout">
  <div class="review-content">
    <div class="close-rating">X</div>
    <form action="" method="post">
      {% csrf_token %}
      <h2>Оставить отзыв</h2>
      <p>Ваша оценка</p>
      <div class="simple-rating">
        <div class="simple-rating__items">

          {% for value, label in form.rating.field.choices %}
          <input type="radio" id="simple-rating__{{ value }}" class="simple-rating__item" name="rating" value="{{ value }}">
          <label for="simple-rating__{{ value }}" class="simple-rating__label"></label>
      {% endfor %}
        </div>
      </div>

      <p>Ваш комментарий</p>
      <input type="hidden" name="{{ form.item.html_name }}" value="{{ item.id }}">
      <textarea name="{{ form.text.html_name }}" id="" cols="30" rows="10"></textarea>
      <button type="submit">Оставить отзыв</button>
    </form>
  </div>
</div>

<div class="content item">
    <nav>
      <div class="breadcrumbs">
        <a href="{% url 'index' %}">Главная »</a>
        <a href="{% url 'catalog_categories' %}">Магазин »</a>
        <a href="{% url 'item' item.slug %}">» {{item.name}}</a>
      </div>
    </nav>
    <h1>{{item.name}}</h1>
    <div class="item-content-layout">
      <div class="item-img-page-content hover-image-scale">
        <div class="slider">
          <div class="slider-list" draggable="false">
            <div class="slider-track" draggable="false">
            {% if item.image %}
              <div class="slide" draggable="false">
              <img src="{{item.image.url}}" alt=""  draggable="false">
              </div>     
            {% endif %}
            {%if images%}
            {% for image in images %}
            <div class="slide" draggable="false">
              <img src="{{image.image.url}}" alt="" draggable="false">
            </div>      
            {% endfor %}
            {%endif%}

            </div>
          </div>
          {%if images%}
          <div class="slider-arrows">
            <button type="button" class="prev">&#8592;</button>
            <button type="button" class="next">&#8594;</button>
          </div>
          {%endif%}
        </div>

      </div>
      
        <div class="item-actions">
          <div class="d-flex justify-content-between correct">
            <div style="background: none!IMPORTANT;background-color: none!IMPORTANT;">{% if item.amount >= 5 %}<span class="large-price"></span> Много {% elif item.amount < 5  %}<span class="large-price" style="border-color: #e7e00f;"></span> Мало {% else %}<span class="large-price" style="border-color: #979797;"></span> Нет в наличии  {% endif %} </div>
            <div style="background: none!IMPORTANT;background-color: inherit!IMPORTANT;" class="correct-margin">{% if item.vendor_code%}Артикул: {{item.vendor_code}}{%endif%}</div>
          </div>
          <div class="clearboth"></div>
          <div class="action-price">
            {%if item.discount > 0%}
            <span class="sale-price">{{item.discount}}%</span> <span class="new-price">{{item.sale_price}}₽</span> <span class="old-price" style="    text-decoration: line-through;">{{item.price}}₽</span>
            {%else%}
            <span class="old-price" style="font-weight: 700;">{{item.price}}₽</span>
            {%endif%}
          </div>
          <div class="clearboth"></div>
          <p>Будет начислено <span>{{ item.calculate_bunus}}</span> бонусов</p>
{#          <a href="#"> ДОБАВИТЬ В КОРЗИНУ</a>#}
            
          {% if item.amount > 0 %}
            <button 
              onclick="toggleCart({{ item.id }})" 
              class="button-add-to-cart {% if item.id in cart_items%}item-added-to-cart{% endif %}" 
              id="button-add-to-cart-{{ item.id }}"
              data-like-item-id="{{item.id}}"
              >

                {% if item.id in cart_items %}
                    В корзине
                	{% else %}
                    Добавить в корзину
                {% endif %}
            </button>
          {% else %}
          {% if request.user.is_authenticated %}
            <button 
              class="button-add-to-cart"
              id="add-to-waiting-list-btn-{{item.id}}"
              style="background-color: rgb(59, 118, 245)"
              onclick="add_to_waiting_list({{item.id}})"
              {% if request.user in item.users_waiting.all %}hidden{%endif%}
              >
              Уведомить
            </button>
            
            <button 
            id="remove-from-waiting-list-btn-{{item.id}}"
            class="button-add-to-cart"
            style="background-color: rgb(59, 118, 245)"
            onclick="remove_from_waiting_list({{item.id}})"
            {% if request.user.is_authenticated and request.user not in item.users_waiting.all %}hidden{%endif%}
            >
            Не уведомлять
          </button>
          {% endif %}
          {% endif %}



            <button onclick="toggle_favorite({{ item.id }})" class="add-favorite-item" id="add-favorite-item">
                {% if item|get_favorite_status:request %}
                    В избранном
                	{% else %}
                     Добавить в избранное
                {% endif %}
            </button>
      </div>
    </div>

    

    <!-- <div class="container"></div> -->
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="true"><span class="accordion-title">Описание</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.text|safe}}</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Состав</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.compound|safe}}</p>
          </div>
        </div>
{#        <div class="accordion-item">#}
{#          <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Отзывы</span><span class="icon" aria-hidden="true"></span></button>#}
{#          <div class="accordion-content">#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>#}
{#          </div>#}
{#        </div>#}
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Информация о доставке</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p>{{item.delivery|safe}}</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Сертификат</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <p class="mobile-cirtificate">
              {%if certificates%}
              {% for certificate in certificates %}
              {%if certificate.certificate%}
              <a href="{{certificate.certificate.url}}#" target=_blank><img style="max-height: 35px;" src="{% static '/img/pdf-svgrepo-com.svg' %}"></a>    
              {% comment %} <img src="{{certificate.photo.url}}" alt=""> {% endcomment %}
              {%endif%}
              {% endfor %}
              {%endif%}
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-6" aria-expanded="false"><span class="accordion-title">Отзывы</span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
            <div class="rating_layout">
              <div class="rating_top">
                <div class="comments_rating">
                  <h2> Отзывов: {{ratings.all.count}}</h2>
                  <div class="rating_layout_star" data-total-value="{{item.rating}}">
                    <div class="rating_star" data-item-value="5">★</div>
                    <div class="rating_star" data-item-value="4">★</div>
                    <div class="rating_star" data-item-value="3">★</div>
                    <div class="rating_star" data-item-value="2">★</div>
                    <div class="rating_star" data-item-value="1">★</div>
                  </div>
                  {{item.rating}}
                </div>
                <a href="#" id="AddReview" class="AddReview">Оставить отзыв</a>
              </div>
              {% for rating in ratings%}
              <div class="rating_item">
                <div class="comment_user">
                  <h2>{{rating.user.first_name}} {{rating.user.last_name}}</h2>
                  <div class="date_and_rating">
                    <div class="date_rating">{{rating.date_added}}</div>
                    <div class="rating_layout_star" data-total-value="{{rating.rating}}">
                      <div class="rating_star" data-item-value="5">★</div>
                      <div class="rating_star" data-item-value="4">★</div>
                      <div class="rating_star" data-item-value="3">★</div>
                      <div class="rating_star" data-item-value="2">★</div>
                      <div class="rating_star" data-item-value="1">★</div>
                    </div>
                  </div>
                </div>
                <div class="comment">
                <span>Комментарий</span>
                {{rating.text}}
              </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>        
      </div>
    



    <div class="tabs">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
      <label for="tab-btn-1">Описание</label>
      <input type="radio" name="tab-btn" id="tab-btn-2" value="">
      <label for="tab-btn-2">Состав</label>
{#      <input type="radio" name="tab-btn" id="tab-btn-3" value="">#}
{#      <label for="tab-btn-3">Отзывы</label>#}
      <input type="radio" name="tab-btn" id="tab-btn-4" value="">
      <label for="tab-btn-4">Информация о доставке</label>
      <input type="radio" name="tab-btn" id="tab-btn-5" value="">
      <label for="tab-btn-5">Сертификат</label>
      <input type="radio" name="tab-btn" id="tab-btn-6" value="">
      <label for="tab-btn-6">Отзывы</label>
      <div id="content-1">
            {{item.text|safe}}
      </div>
      <div id="content-2">
            {{item.compound|safe}}
      </div>
{#      <div id="content-3">#}
{#        Содержимое 3...#}
{#      </div>#}
      <div id="content-4">
        {{item.delivery|safe}}
      </div>
      <div id="content-5" class="pc-certificate">
        {%if certificates%}
        {% for certificate in certificates %}
        {%if certificate.certificate%}
        {% comment %} <img class="zoom-img" id="zoom-img" src="{{certificate.photo.url}}" alt=""> {% endcomment %}
        <a href="{{certificate.certificate.url}}#" target=_blank><img style="max-height: 70px;" src="{% static 'img/pdf-svgrepo-com.svg' %}"></a> 
        {%endif%}
        {% endfor %}
        {%endif%}
      </div>
      <div id="content-6" style="padding: 25px 0px 0px 0px;">
        <div class="rating_layout">
          <div class="rating_top">
            <div class="comments_rating">
              <h2> Отзывов: {{ratings.all.count}}</h2>
              <div class="rating_layout_star" data-total-value="{{item.rating}}">
                <div class="rating_star" data-item-value="5">★</div>
                <div class="rating_star" data-item-value="4">★</div>
                <div class="rating_star" data-item-value="3">★</div>
                <div class="rating_star" data-item-value="2">★</div>
                <div class="rating_star" data-item-value="1">★</div>
              </div>
              {{item.rating}}
            </div>
            <a href="#" id="AddReview" class="AddReview">Оставить отзыв</a>
          </div>
          {% for rating in ratings%}
          <div class="rating_item">
            <div class="comment_user">
              <h2>{{rating.user.first_name}} {{rating.user.last_name}}</h2>
              <div class="date_and_rating">
                <div class="date_rating">{{rating.date_added}}</div>
                <div class="rating_layout_star" data-total-value="{{rating.rating}}">
                  <div class="rating_star" data-item-value="5">★</div>
                  <div class="rating_star" data-item-value="4">★</div>
                  <div class="rating_star" data-item-value="3">★</div>
                  <div class="rating_star" data-item-value="2">★</div>
                  <div class="rating_star" data-item-value="1">★</div>
                </div>
              </div>
            </div>
            <div class="comment">
            <span>Комментарий</span>
            {{rating.text}}
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="carousel-wrap" style="width:100%;margin: 0px 0px 90px 0px!IMPORTANT;">
      <span class="item-title">Альтернативные предложения</span>
      <div class="owl-carousel"style="width: 100%;">
        
        {% for item in items %}

          {% include 'index/_catalog_item.html' %}

        {% endfor %}

      </div>
    </div>
  </div>


  <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch('', { // URL указывать не нужно, если запрос идет на текущую страницу
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            console.log(data);
            // здесь вы можете обработать ответ от сервера
        }).catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });
    </script>
  <script>
    const link = document.querySelector('#AddReview')
    const ratingReview = document.querySelector('.review-layout')
    const CloseRating = document.querySelector('.close-rating')

    link.addEventListener('click', () => {
      ratingReview.classList.toggle('activeadd')
    })

    CloseRating.addEventListener('click', () => {
      ratingReview.classList.toggle('activeadd')
    })

  </script>
  <style>
    
    .zoomIMG{
      max-height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      weight: 90%;
      max-width: 965px;
      z-index: 9999999;
    }
    .carousel-wrap{margin: 0% 0% 0% 0%!IMPORTANT;padding:0% 0% 0% 0%!IMPORTANT;}
    .tabs {
      font-size: 0;
      margin: 0px 0px 40px 0px;
    }
  
    .tabs>input[type="radio"] {
      display: none;
    }
  
    .tabs>div {
      /* скрыть контент по умолчанию */
      display: none;
      /* border: 1px solid #e0e0e0; */
      padding: 10px 15px;
      font-size: 16px;
    }
  
    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4,
    #tab-btn-5:checked~#content-5,
    #tab-btn-6:checked~#content-6 {
      display: block;
    }
  
    .tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: #f5f5f5;
      /* border: 1px solid #e0e0e0; */
      padding: 15px 25px;
      font-size: 16px;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      cursor: pointer;
      position: relative;
      top: 1px;
      width: 19.5%;
      min-width: fit-content;
      border-right: 1px solid #0000000e;
    }

    .tabs>label:first-of-type {
       /* стили для первого элемента label */
       border-radius: 25px 0px 0px 25px;
    }

    .tabs>label:last-of-type {
      /* стили для последнего элемента label */
      border-radius: 0px 25px 25px 0px;
      border:none;
    }
  
    .tabs>label:not(:first-of-type) {
      border-left: none;
    }
  
    .tabs>input[type="radio"]:checked+label {
      /* background-color: #fff;
      border-bottom: 1px solid #fff; */
      color: #00b44e;
    }
    .accordion{margin: 0px 0px 40px 0px;}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #00b44e;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #00b44e;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #00b44e;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
  </style>
  <script>
    const items = document.querySelectorAll(".accordion button");

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}
items.forEach(item => item.addEventListener('click', toggleAccordion));
  </script>
  <style>
    .slider {
      position: relative;
      width: 100%;
      height: 25vw;
      margin: 0px auto 0;
      user-select: none;
      touch-action: none;
    }
    
    .slider img {
      poiner-events: none;
      width: auto;
    }
    
    .slider-list {
      width: 100%;
      height: 25vw;
      overflow: hidden;
    }
    
    {% comment %} .slider-list.grab {
      cursor: grab;
    } {% endcomment %}
    
    {% comment %} .slider-list.grabbing{
      cursor: grabbing;
    } {% endcomment %}
    
    .slider-track {
      display: flex;
    }
    
    .slide {
      width: 100%;
      height: 25vw;
      flex-shrink: 0;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
    
    .slider-arrows {
      margin-top: 15px;
      text-align: center;
      position: absolute;
      top:50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 9;
      width: 90%;
      display: flex;
      justify-content: space-between;
    } .slider-arrows img{
      transform:none!IMPORTANT;
      cursor: pointer!IMPORTANT;
    }
    
    .next,
    .prev {
      background: none;
      border: none;
      margin: 0 10px;
      font-size: 30px;
      cursor: pointer!IMPORTANT;
      border-radius: 100%;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 3px 2px #00000017;
      box-sizing: border-box;
      padding: 9px 12px 12px 12px;
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
    }
    
    .next.disabled,
    .prev.disabled {
      opacity: .25;
      pointer-events: none;
    }
  @media (max-width: 1300px){
    .slide, .slider{
      height: 49vw;
    }.slider img{
      height: 49vw;
    }.slider-list{
      height: 49vw;
    }.search{
      margin: 12px 0px 0px 0px;
    }
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer!IMPORTANT;
}
  </style>
  <script>
    let slider = document.querySelector('.slider'),
    sliderList = slider.querySelector('.slider-list'),
    sliderTrack = slider.querySelector('.slider-track'),
    slides = slider.querySelectorAll('.slide'),
    arrows = slider.querySelector('.slider-arrows'),
    prev = arrows.children[0],
    next = arrows.children[1],
    slideWidth = slides[0].offsetWidth,
    slideIndex = 0,
    posInit = 0,
    posX1 = 0,
    posX2 = 0,
    posY1 = 0,
    posY2 = 0,
    posFinal = 0,
    isSwipe = false,
    isScroll = false,
    allowSwipe = false,
    transition = false,
    nextTrf = 0,
    prevTrf = 0,
    lastTrf = --slides.length * slideWidth,
    posThreshold = slides[0].offsetWidth * 0.35,
    trfRegExp = /([-0-9.]+(?=px))/,
    swipeStartTime,
    swipeEndTime,
    getEvent = function() {
      return (event.type.search('touch') !== -1) ? event.touches[0] : event;
    },
    slide = function() {
      if (transition) {
        sliderTrack.style.transition = 'transform .5s';
      }
      sliderTrack.style.transform = `translate3d(-${slideIndex * slideWidth}px, 0px, 0px)`;
  
      prev.classList.toggle('disabled', slideIndex === 0);
      next.classList.toggle('disabled', slideIndex === --slides.length);
    },
    swipeStart = function() {
      let evt = getEvent();
  
      if (allowSwipe) {
  
        swipeStartTime = Date.now();
        
        transition = true;
  
        nextTrf = (slideIndex + 1) * -slideWidth;
        prevTrf = (slideIndex - 1) * -slideWidth;
  
        posInit = posX1 = evt.clientX;
        posY1 = evt.clientY;
  
        sliderTrack.style.transition = '';
  
        document.addEventListener('touchmove', swipeAction);
        document.addEventListener('mousemove', swipeAction);
        document.addEventListener('touchend', swipeEnd);
        document.addEventListener('mouseup', swipeEnd);
  
        sliderList.classList.remove('grab');
        sliderList.classList.add('grabbing');
      }
    },
    swipeAction = function() {
  
      let evt = getEvent(),
        style = sliderTrack.style.transform,
        transform = +style.match(trfRegExp)[0];
  
      posX2 = posX1 - evt.clientX;
      posX1 = evt.clientX;
  
      posY2 = posY1 - evt.clientY;
      posY1 = evt.clientY;
  
      if (!isSwipe && !isScroll) {
        let posY = Math.abs(posY2);
        if (posY > 7 || posX2 === 0) {
          isScroll = true;
          allowSwipe = false;
        } else if (posY < 7) {
          isSwipe = true;
        }
      }
  
      if (isSwipe) {
        if (slideIndex === 0) {
          if (posInit < posX1) {
            setTransform(transform, 0);
            return;
          } else {
            allowSwipe = true;
          }
        }
  
        // запрет ухода вправо на последнем слайде
        if (slideIndex === --slides.length) {
          if (posInit > posX1) {
            setTransform(transform, lastTrf);
            return;
          } else {
            allowSwipe = true;
          }
        }
  
        if (posInit > posX1 && transform < nextTrf || posInit < posX1 && transform > prevTrf) {
          reachEdge();
          return;
        }
  
        sliderTrack.style.transform = `translate3d(${transform - posX2}px, 0px, 0px)`;
      }
  
    },
    swipeEnd = function() {
      posFinal = posInit - posX1;
  
      isScroll = false;
      isSwipe = false;
  
      document.removeEventListener('touchmove', swipeAction);
      document.removeEventListener('mousemove', swipeAction);
      document.removeEventListener('touchend', swipeEnd);
      document.removeEventListener('mouseup', swipeEnd);
  
      sliderList.classList.add('grab');
      sliderList.classList.remove('grabbing');
  
      if (allowSwipe) {
        swipeEndTime = Date.now();
        if (Math.abs(posFinal) > posThreshold || swipeEndTime - swipeStartTime < 300) {
          if (posInit < posX1) {
            slideIndex--;
          } else if (posInit > posX1) {
            slideIndex++;
          }
        }
  
        if (posInit !== posX1) {
          allowSwipe = false;
          slide();
        } else {
          allowSwipe = true;
        }
  
      } else {
        allowSwipe = true;
      }
  
    },
    setTransform = function(transform, comapreTransform) {
      if (transform >= comapreTransform) {
        if (transform > comapreTransform) {
          sliderTrack.style.transform = `translate3d(${comapreTransform}px, 0px, 0px)`;
        }
      }
      allowSwipe = false;
    },
    reachEdge = function() {
      transition = false;
      swipeEnd();
      allowSwipe = true;
    };
  
  sliderTrack.style.transform = 'translate3d(0px, 0px, 0px)';
  sliderList.classList.add('grab');
  
  sliderTrack.addEventListener('transitionend', () => allowSwipe = true);
  slider.addEventListener('touchstart', swipeStart);
  slider.addEventListener('mousedown', swipeStart);
  
  arrows.addEventListener('click', function() {
    let target = event.target;
  
    if (target.classList.contains('next')) {
      slideIndex++;
    } else if (target.classList.contains('prev')) {
      slideIndex--;
    } else {
      return;
    }
  
    slide();
  });



  $(window).on('DOMContentLoaded', ()=>{
    update_favorite_total_count()
  })
  </script>


{% endblock %}