{% extends 'default.html' %}{% load static %}
{% block content %}
<div class="content pay">
    <nav>
      <div class="breadcrumbs">
        <a href="">Главная »</a>
        <a href="">Оплата и доставка</a>
      </div>
    </nav>
    <h1>Оплата и доставка</h1>


    <div class="sail-value">
      <h2>Способы оплаты</h2>
      <div class="value-layer">
        <div class="value1">
          <h3>Оплата наличными</h3>
          <p>При оформлении заказа выберите способ оплаты «Наличный расчет». Произвести оплату наличными можно в
            сервисных центрах, пунктах выдачи заказов или курьеру при доставке по Санкт-Петербургу, стоимость
            соответствует заявленной на сайте.</p>
        </div>
        <div class="value2">
          <h3>Оплата банковской картой на сайте</h3>
          <p>Оплатить заказ банковской картой VISA или MasterCard (Google Pay, Apple Pay), WorldWide, МИР можно на
            сайте в любой удобный момент. Во время оформления заказа, выберите способ оплаты «VISA, MasterCard, Google
            Pay, Apple Pay». После подтверждения заказа Вы будете перенаправлены на защищенную платежную страницу, где
            вам необходимо ввести данные вашей банковской карты и свои данные для получения уведомления об оплате.В
            случае успешной оплаты наши менеджеры дополнительно проинформируют вас. </p>
          <img src="{% static '/img/pay.svg' %}" alt="">
        </div>
      </div>
    </div>

    <div class="delivery-value">
      <h2>Способы доставки</h2>
      <p>Условия доставки заказа зависят от страны, города проживания и выбранного адреса.</p>
      <div class="delivery-layer">
        <div class="delivery-value-item-group">
          <h3>Забрать товар самовывозом из сервисного центра в Санкт-Петерубрге            </h3>
<p>Забрать свой заказ вы можете из сервисного центра, который находится в Санкт-Петербурге. Пожалуй самый удобный, быстрый, а самое главное бесплатный способ получения своего товара. После оформления заказа и подтверждением его оператором контакт-центра товар резервируется для Вас на 2 дня.Детальная информация о сервисном центре:
г. Санкт-Петербург, наб. Обводного канала д.64, корп.2, лит.А, помещ. 17H, оф. 29/3 (2-ой этаж)</p>

        </div>
        <div class="delivery-value-item-group">
          <h3>Забрать товар самовывозом из сервисного центра в Санкт-Петерубрге            </h3>
<p>Забрать свой заказ вы можете из сервисного центра, который находится в Санкт-Петербурге. Пожалуй самый удобный, быстрый, а самое главное бесплатный способ получения своего товара. После оформления заказа и подтверждением его оператором контакт-центра товар резервируется для Вас на 2 дня.Детальная информация о сервисном центре:
г. Санкт-Петербург, наб. Обводного канала д.64, корп.2, лит.А, помещ. 17H, оф. 29/3 (2-ой этаж)</p>

        </div>
        <div class="delivery-value-item-group">
          <h3>Забрать товар самовывозом из сервисного центра в Санкт-Петерубрге            </h3>
<p>Забрать свой заказ вы можете из сервисного центра, который находится в Санкт-Петербурге. Пожалуй самый удобный, быстрый, а самое главное бесплатный способ получения своего товара. После оформления заказа и подтверждением его оператором контакт-центра товар резервируется для Вас на 2 дня.Детальная информация о сервисном центре:
г. Санкт-Петербург, наб. Обводного канала д.64, корп.2, лит.А, помещ. 17H, оф. 29/3 (2-ой этаж)</p>

        </div>
      </div>
    </div>


  </div>
{% endblock %}