{% extends 'default.html' %}{% load static %}
{% block content %}
<div class="content pay">
    <nav>
      <div class="breadcrumbs">
        <a href="">Главная »</a>
        <a href="">Оплата и доставка</a>
      </div>
    </nav>
    <h1>Оплата и доставка</h1>


    <div class="sale-value">
      <h2>Способы оплаты</h2>
      <div class="value-layer">
        <div class="value1">
          <h3>{{paragraphs.0.name}}</h3>
          <p>{{paragraphs.0.text}}</p>
        </div>
        <div class="value2">
          <h3>{{paragraphs.1.name}}</h3>
          <p>{{paragraphs.1.text}}</p>
          <img src="{% static '/img/pay.svg' %}" alt="">
        </div>
      </div>
    </div>

    <div class="delivery-value">
      <h2>{{paragraphs.2.name}}</h2>
      <p>{{paragraphs.2.text}}</p>
      <div class="delivery-layer">
        {% for paragraph in paragraphs.2.paragraph_set.all %}
        <div class="delivery-value-item-group">
          <h3>{{paragraph.name}}</h3>
          <p>{{paragraph.text}}</p>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>
{% endblock %}