{% extends 'cabinet/cabinet_default.html' %}{% load static %}
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
            <div class="user-input">
              <p>Фамилия</p>
                {{form.first_name}}
            </div>
                    <div class="user-input">
              <p>Имя</p>
                {{form.last_name}}
            </div>
                    <div class="user-input">
              <p>Отчество</p>
                {{form.patronymic}}
            </div>
            <div class="user-input">
              <p>E-mail</p>
                {{form.email}}
            </div>
            <div class="user-input">
              <p>Телефон</p>
                {{form.phone}}
            </div>

            <button type="submit">СОХРАНИТЬ</button>
    </form>
{% endblock %}