  <div class="modal">
    <div class="modal-content">
      <a href="{% url 'index' %}" class="">ГЛАВНАЯ</a>
      <a href="{% url 'catalog' %}" class="">КАТАЛОГ</a>
      <a href="{% url 'brends' %}" class="">БРЕНДЫ</a>
      <a href="{% url 'pay' %}" class="">ОПЛАТА И ДОСТАВКА</a>
      <a href="{% url 'sail' %}" class="">АКЦИИ</a>
      <a href="{% url 'blog' %}" class="">БЛОГ</a>
      <a href="{% url 'about' %}" class="">О КОМПАНИИ</a>
      <a href="{% url 'partners' %}" class="">ПАРТНЕРАМ</a>
      <a href="{% url 'contacts' %}" class="">КОНТАКТЫ</a>
    </div>
    </div>