<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitanow - {{title}}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
  <link href="
https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css
" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


  <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <meta name="robots" content="noindex">
    <meta name="author" content="https://boich.ru | ARTEM BOYKO">
</head>
<body>
  {% load modalCatalog %}
  {% category_list as categories %}
    <div class="modal-catalog">
      <div class="modal-close">X</div>
      <div class="modal-catalog-list">
        <div class="modal-user">
          <h2>Войдите в профиль</h2>
          <p>Будете получать бонусы за покупки</p>
          <a class="modal-user-link" href="{% url 'registration' %}">
            Вход | Регистрация
          </a>
        </div>
        <h2 style="font-size: 19px;font-weight: 700;margin: 20px 0px 20px 20px;">Каталог</h2>
      <ul>
        {%for i in categories %}
        <li><a href="{% url 'filter_catalog_view' %}?category={{i.id}}">
          {% if i.image %}
          <img src="{{ i.image.url }}" /> {{ i.title }}</a></li>
          {% endif %}
        {%endfor%}
      </ul>
      <a class="modal-user-link" href="#" style="width: 95%;margin: 0 auto;display:flex;justify-content: center;margin: auto auto 25px;">
        8 800 200-70-70
      </a>
      </div>
    </div>
    {% include 'cart/_modal_item_added.html' %}

    {% include 'common/mobile-nav.html' %}

    {% include 'common/add_address_form_modal.html' %}

  <div class="nav-layout">
    <div class="nav-main">
      <div class="nav-logo-items">
        <div class="logo">
          <div class="nav-burgers"><img src="{% static 'img/nav.svg' %}" alt="" style="/*min-height: 40px!IMPORTANT;*/" onclick="openCatalogModal()"></div>
          <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt=""></a>
        </div>

        <a href="{% url 'catalog_categories' %}">
          <div class="drop-down">
            <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1H21" stroke="white" stroke-width="2" stroke-linecap="round" />
              <path d="M1 8H21" stroke="white" stroke-width="2" stroke-linecap="round" />
              <path d="M1 15H21" stroke="white" stroke-width="2" stroke-linecap="round" />
            </svg>

            Каталог
          </div>
        </a>
      </div>
      
      <div class="search">
          <form action="{% url 'filter_catalog_view' %}" method="get">
            <input type="search" name="search" id='search-query-field' class='search-query-field' placeholder="Название товара, категория, симптомы">
          </form>
       </div>
       
       

      <div class="nav-actions">
          <a href="{% url 'favorite' %}">
              <div class="like-actions">
               <img src="{% static '/img/like.svg' %}" alt="">
               <div id="like-count" class="like-count">0</div>
              </div>
          </a>
        <a href="{% url 'cabinet' %}">
          <div class="cabinet-button header-action">
            {% include '_some_image.html' %}

{#            <span>Личный кабинет</span>#}
          </div>
        </a>
        <a href="{% url 'cart' %}">
          <div class="cart-button header-action">
            <img src="{% static 'img/basket.svg' %}" alt="">
            <div id="cart-count" class="cart-count"></div>
{#            <span>Корзина</span>#}
          </div>
        </a>
        <div class="nav-contacts">
          <div class="nav-phone">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">

            <span>8 (800) 555 35 35</span>
          </div>
{#          <button>Заказать звонок</button>#}
        </div>
      </div>
    </div>

    <div class="navigation">
      <a href="{% url 'index' %}" class="">ГЛАВНАЯ</a>
      <a href="{% url 'brends' %}" class="">БРЕНДЫ</a>
      <a href="{% url 'pay' %}" class="">ОПЛАТА И ДОСТАВКА</a>
      <a href="{% url 'sale' %}" class="">АКЦИИ</a>
      <a href="{% url 'blog' %}" class="">БЛОГ</a>
      <a href="{% url 'about' %}" class="">О КОМПАНИИ</a>
      <a href="{% url 'partners' %}" class="">ПАРТНЕРАМ</a>
      <a href="{% url 'contacts' %}" class="">КОНТАКТЫ</a>
      <div class="search adaptivesearch">
        <input type="text"  class='search-query-field' name='search' placeholder="Название товара, категория, симптомы">
      </div>
    </div>
  </div>

  <div class="content-layout">
    <div class="content">

    </div>
  </div>


    <script>
      const navBurger = document.querySelector('.nav-burgers');
      const closeNavBurger = document.querySelector('.close-nav-burgers');
      const modal = document.querySelector('.modal-catalog');
      const closeModalCatalog = document.querySelector('.modal-close')

      closeModalCatalog.addEventListener('click', () => {
        modal.style.display = 'none'
      })

      function openCatalogModal(){
        navBurger.addEventListener('click', function() {
          modal.style.display = 'flex'
          document.body.style.overflow = 'hidden';
        });
      }

      closeNavBurger.addEventListener('click', function() {
        modal.classList.remove('open-modal');
        document.body.classList.remove('modal-show');
        document.body.style.overflow = 'none';
      });

      document.addEventListener("DOMContentLoaded", () => {

      });

      // const menu = document.getElementById('dropdown')
      // menu.addEventListener('click', () => {
      //     const el = document.getElementById('dropdownNav');
      //     el.style.display === 'none' ? el.style.display = 'block' : el.style.display = 'none';
      // })
    </script>

    <script>
      let searchField = document.getElementById('search-query-field');

      searchField.addEventListener("keypress", function(event) {
      if (event.keyCode === 13) {
      this.parentNode.submit();
      }
      });
   </script>